::-moz-selection{
	color: none;
	background-color: none;}

::selection{
	color: none;
	background-color: none;}

.left{
	border-radius: 10px;
	background-color: #FFFFFF;}

.right{
	border-radius: 10px;
	background-color: #FFFFFF;}


	img{
		background-color: purple!important;
			margin-top: 20px!important;
			margin-bottom: 20px!important;
		cursor: pointer;
		height: auto;
		width: auto\9;
		max-width: 100%;}




.navbar{
	background-color: #FFFFFF;}

.navbar-brand{
	padding: 0px;
	color: #263238;
	cursor: text;
  font-size: 1rem;
  font-family: "poppins_bold";}

.navbar-brand:hover, .nav-link:hover{
color: #424242;}

.nav-link{
	margin: 0px;
	color: #424242;
	cursor: default;
	font-size: 0.80rem;
	font-family: "poppins_light";}

.card-title{
	padding-bottom: 30px;
	color: #000000;
	cursor: pointer;
  font-size: 1.08rem;
	font-family: "poppins_bold";

	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;}

.card-text{
	padding-bottom: 30px;
	color: #424242;
	cursor: pointer;
	font-size: 0.88rem;
	font-family: "poppins_light";

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;}

	.price{
		padding-bottom: 30px;
		color: #000000;
		cursor: pointer;
	  font-size: 0.88rem;
		font-family: "poppins_bold";}

.icons{
	width: 1.16rem;
	margin-top: -3px;
	cursor: pointer;}

.svg{
	fill: #424242;
	transition: all 0.2s linear!important;
	-o-transition: all 0.2s linear!important;
	-ms-transition: all 0.2s linear!important;
	-moz-transition: all 0.2s linear!important;
	-webkit-transition: all 0.2s linear!important;}

.card{

	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;

	cursor: pointer;
	border: none;
	border-radius: 16px!important;
	background-color: #FFFFFF;

	transition: all 0.2s linear!important;
  -o-transition: all 0.2s linear!important;
  -ms-transition: all 0.2s linear!important;
  -moz-transition: all 0.2s linear!important;
  -webkit-transition: all 0.2s linear!important;}

.card:hover{
	-webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.3);
}

.card-body{
	border-radius: 16px!important;
	width: 100%;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #FFFFFF;}

.card-title, .card-text{
	margin-bottom: 20px!important;
	margin: 0px;
	padding: 0px;
}

@font-face{
	font-family: "poppins_light";
	src: url(../fonts/poppins_light.ttf) format("opentype");}

@font-face{
	font-family: "poppins_bold";
	src: url(../fonts/poppins_bold.ttf) format("opentype");}

body{
	overflow-x: hidden;
	background-color: #F5F5F7;}

@media(max-width: 991px){
	.nav-link{
		             }
	.card-title{

		margin-bottom: 10px!important;}
	.card-text{

		margin-bottom: 10px!important;}}
